@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Heebo', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#19272a;
}
.container .suz{
    width: 400px;
    height: 400px;
    background-color:transparent;
    box-shadow:5px 5px 50px white;
    padding:20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius:4px;
}
.container .suz h1{
    color:rgb(255, 255, 142);
}
.container .suz p{
    color:rgb(153, 255, 153);
    font-size:20px;
}
.container .suz button{
    width: 100%;
    height:50px;
    font-size:20px;
    background-color:blue;
    border:none;
    color:white;
}