*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}
button{
    width: 100px;
    height: 40px;
    border: 1px solid blue;
    background-color: black;
    color: aqua;
}
